/* Style Lupa Password */
/* Konten */
.centerWrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111;
  padding: 20px;
  box-sizing: border-box;
}

/* Card Lupa Password */
.forgotCard {
  background: #000000;
  margin: 0 auto;
  padding: 32px 40px;
  border-radius: 16px;
  border: 1px solid #fff615;
  box-shadow: 0 0 20px rgba(255, 246, 21, 0.7);
  width: 100%;
  max-width: 400px;
  text-align: center;
  transition: all 0.3s ease;
}
.forgotCard:hover {
  transform: translateY(-4px);
}

/* Form Header */
.forgotHeader img {
  max-width: 120px;
  margin-bottom: 11px;
}
.forgotHeader h2 {
  font-size: 24px;
  color: #fff615;
  font-weight: 600;
  margin-bottom: 5px;
}
.forgotHeader p {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 24px;
}

/* Input Group */
.inputGroup {
  margin-bottom: 19px;
  text-align: left;
}
.inputGroup label {
  display: block;
  margin-bottom: 3px;
  margin-top: 10px;
  font-weight: 500;
  color: #fff615;
}
.inputGroup input {
  width: 100%;
  padding: 11px;
  border: 1.5px solid #ffffff;
  color: #fff;
  border-radius: 8px;
  margin-top: 5px;
  font-size: 15px;
  transition: 0.3s ease;
  background-color: transparent;
}
.inputGroup input:focus {
  border-color: #fff615;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 246, 21, 0.6);
}

/* Tombol */
.forgotButton {
  width: 80%;
  padding: 14px;
  background: #fff615;
  border: none;
  margin-top: 16px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  cursor: pointer;
  transition: background 0.3s ease;
}
.forgotButton:hover {
  background: #ffffff;
}

/* Actions */
.actions {
  margin-top: 16px;
}
.actions .link {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}
.actions .link:hover {
  color: #fff615;
}

/* Icon */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spinnerIcon {
  display: inline-block;
  animation: spin 1s linear infinite;
  margin-right: 8px; 
}

/* Media Queries Responsiv */
@media (max-width: 768px) {
  .centerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-bottom: env(safe-area-inset-bottom);
  }
  .forgotCard {
    flex-direction: column;
    width: 90%;
    max-width: 450px;
    height: auto;
    border-radius: 12px;
  }
}

@media (max-width: 480px) {
  .centerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-bottom: env(safe-area-inset-bottom);
  }
  .forgotCard {
    flex-direction: column;
    width: 90%;
    max-width: 400px;
    height: auto;
    border-radius: 12px;
  }
}
