/* Style Reset Password */
/* Konten */
.centerWrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111;
  padding: 20px;
  box-sizing: border-box;
}

/* Card Reset Password */
.resetCard {
  background: #000000;
  padding: 32px 40px;
  border-radius: 16px;
  border: 1px solid #fff615;
  box-shadow: 0 0 20px rgba(255, 246, 21, 0.7);
  width: 100%;
  max-width: 420px;
  text-align: center;
  transition: all 0.3s ease;
}
.resetCard:hover {
  transform: translateY(-4px);
}
.resetHeader img {
  max-width: 120px;
  margin-bottom: 16px;
}
.resetHeader h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px;
}
.resetHeader p {
  font-size: 14px;
  color: #fff615;
  margin-bottom: 24px;
}

/* Input Group */
.inputGroup {
  margin-bottom: 19px;
  text-align: left;
}
.inputGroup label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  color: #ffffff;
}
.inputWrapper {
  position: relative;
}
.inputWrapper input {
  width: 100%;
  padding: 12px 40px 12px 12px;
  border: 1.5px solid #ffffff;
  border-radius: 8px;
  font-size: 15px;
  transition: 0.3s ease;
  background-color: transparent;
  box-sizing: border-box;
  color: #fff;
}
.inputWrapper input:focus {
  border-color: #fff615;
  outline: none;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.15);
}

/* Toggle Password */
.togglePassword {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  transition: 0.2s ease;
}
.togglePassword:hover {
  color: #333;
}

/* Tombol */
.resetButton {
  width: 80%;
  padding: 14px;
  margin-top: 16px;
  background: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  cursor: pointer;
  transition: background 0.3s ease;
}
.resetButton:hover {
  background: #fff615;
}

/* Media Queries Responsiv */
@media (max-width: 768px) {
  .centerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-bottom: env(safe-area-inset-bottom);
  }
  .resetCard {
    flex-direction: column;
    width: 90%;
    max-width: 450px;
    height: auto;
    border-radius: 12px;
  }
}

@media (max-width: 480px) {
  .centerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-bottom: env(safe-area-inset-bottom);
  }
  .resetCard {
    flex-direction: column;
    width: 90%;
    max-width: 400px;
    height: auto;
    border-radius: 12px;
  }
  .inputWrapper input {
    font-size: 12px;
    padding: 11px 40px 11px 11px;
  }
}
