/* Ubah Menu CSS */
/* Konten */
.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

/* Form */
.menuForm {
  margin-top: -20px;
  background: #222;
  padding: 25px;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 0 10px #ffd633;
  display: flex;
  flex-direction: column;
  gap: 18px;
  color: #eee;
}

/* Form Group */
.formGroup {
  display: flex;
  flex-direction: column;
}
.formGroup label {
  margin-bottom: 6px;
  font-weight: 600;
  color: #ffd633;
}
.formGroup input,
.formGroup select,
.formGroup textarea {
  padding: 10px 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #333;
  color: #eee;
  transition: 0.3s;
  font-size: 15px;
}
.formGroup input[type='file'] {
  cursor: pointer;
}
.formGroup input:focus,
.formGroup select:focus,
.formGroup textarea:focus {
  background: #444;
  box-shadow: 0 0 5px #fff615;
}
.formGroup input::placeholder,
.formGroup textarea::placeholder {
  color: #aaa;
}
textarea {
  resize: vertical;
  min-height: 90px;
}

/* Current Image */
.currentImage {
  font-size: 14px;
  margin-top: 5px;
  color: #aaa;
}
.filename {
  display: inline-block;
  max-width: 300px; /* Sesuaikan dengan lebar form */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ffd633;
  font-weight: bold;
  vertical-align: bottom;
}

/* Buttons */
.formButtons {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}
.formButtons button i {
  margin-right: 6px;
}
.btnBack {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
  padding: 0px;
  border-radius: 8px;
  cursor: pointer;
  background: none;
  border: none;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
.btnBack:hover {
  color: #ffd633;
}
.btnSubmit {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  background: #28a745;
  color: #fff;
  transition: 0.3s;
}
.btnSubmit:hover {
  background: #218838;
}

/* Form Group Select */
.formGroup select {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,<svg fill='white' height='12' viewBox='0 0 20 20' width='12' xmlns='http://www.w3.org/2000/svg'><path d='M7 7l3 3 3-3z'/></svg>");
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) center;
  background-size: 20px;
  transition: background-position 0.3s ease;
  cursor: pointer;
  padding-right: 40px;
}

